defaults
    mode http
    timeout connect 5s
    timeout client 10s
    timeout server 10s

frontend http_front
    bind *:80
    default_backend http_back

backend http_back
    balance roundrobin
    server node1 app-1:80
    server node2 app-2:80
